# Byte-compiled / Optimized / DLL Files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / Packaging
*.egg-info/
build/
dist/
venv/

# Unit Test
.pytest_cache/

# Ignore IDE, Editor Files
.idea/
.vscode/
